body {
    text-align: center;
    font-family: 'Poller One', cursive;
    background-color: black;
}

p, h1, h3, a{
  color: white;
}

footer {
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
}
